body{

margin:0;

background:#f4f4f4;

font-family:Arial;

}

.layout{

display:grid;

grid-template-columns:260px 1fr;

}

aside{

background:#181818;

color:white;

min-height:100vh;

padding:25px;

}

aside ul{

list-style:none;

padding:0;

}

aside li{

padding:15px;

cursor:pointer;

}

.ativo{

background:#d4af37;

color:black;

border-radius:8px;

}

main{

padding:40px;

}

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

input,
textarea,
select{

width:100%;

padding:12px;

margin-top:8px;

margin-bottom:20px;

}

textarea{

height:120px;

}

button{

background:#d4af37;

padding:15px;

border:none;

font-weight:bold;

cursor:pointer;

}

#preview{

display:flex;

gap:15px;

flex-wrap:wrap;

margin:20px 0;

}

#preview img{

width:120px;

height:120px;

object-fit:cover;

border-radius:10px;

}

.produto{

display:flex;

gap:20px;

padding:20px;

background:white;

margin-top:15px;

border-radius:10px;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.produto img{

width:100px;

height:100px;

object-fit:cover;

border-radius:8px;

}