*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#111;
font-family:Arial;
color:white;

}

header{

padding:20px 8%;

background:black;

display:flex;

justify-content:space-between;

align-items:center;

}

header a{

color:#d4af37;

text-decoration:none;

}

main{

width:90%;

max-width:1300px;

margin:40px auto;

display:grid;

grid-template-columns:2fr 1fr;

gap:30px;

}

.item{

display:flex;

gap:20px;

background:#1b1b1b;

padding:20px;

border-radius:12px;

margin-bottom:20px;

}

.item img{

width:120px;

height:120px;

object-fit:cover;

border-radius:10px;

}

.info{

flex:1;

}

.item button{

margin-top:15px;

padding:10px 20px;

background:#c00;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

}

.resumo{

background:#1b1b1b;

padding:25px;

border-radius:12px;

height:fit-content;

position:sticky;

top:20px;

}

.resumo h2{

margin-bottom:20px;

}

.resumo p{

display:flex;

justify-content:space-between;

margin:15px 0;

}

.resumo h3{

display:flex;

justify-content:space-between;

margin:20px 0;

color:#d4af37;

}

#finalizar{

width:100%;

padding:15px;

background:#d4af37;

color:black;

font-weight:bold;

border:none;

border-radius:10px;

cursor:pointer;

}