*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}

body{

background:#111;

color:white;

}

header{

padding:25px;

background:black;

display:flex;

justify-content:space-between;

align-items:center;

}

input{

padding:12px;

width:300px;

border:none;

border-radius:8px;

}

table{

width:95%;

margin:30px auto;

border-collapse:collapse;

}

th{

background:#d4af37;

color:black;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #333;

text-align:center;

}

button{

padding:8px 15px;

cursor:pointer;

border:none;

border-radius:6px;

margin:3px;

}